@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #222;
    min-height: 1400px;
}
#root::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
#root::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
#root::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.p{
    padding: 20px;
}

.FixedTop{
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    z-index: 999;
}
.Nav{
    background-color: #8f59c2ab;
    display: flex;
    justify-content: space-between;
}
.Logo{
    color: #f3f3f2;
    font-size: 1.4em;
    cursor: pointer;
}
.tittle::before{
    content: "Tecno";
    color: #ec1a1a;
}
.nav-links{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;

}
.nav-link{
display: inline-block;
margin-left: 8px;
list-style: none;
font-size: 1.2em;
color:#f3f3f2;
text-decoration: none ;
}
.nav-url{
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
    background-color: none;
    border: #FFF 0px solid;
    padding: 4px;
    background-color: transparent;
    color: #FFF;
    position: relative;
  }

  .nav-url::before{
    content: '';
    background-color:#8f59c2ab;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    border-radius: 4px;
    transition: all .3s ease-in-out;
  }
  .nav-url:hover::before {
    bottom: 0;
    height: 100%;
    background-color: hsla(216, 51%, 48%, 0.75);
  }

  .espacio{
    width: 100%;
    top: 0;
    height: 7vh;
  }

.txtCenter{
    width: 100%;
    text-align: center;
}
